<footer class="main-footer">
    <li><%= link_to "答える",  "/posts/index" %></li>
    <li><%= link_to "出題",   "/posts/new" %></li>
    <li>
      <% if @current_user %>
        <%= link_to "通知",   "/users/#{@current_user.id}/notification"%>
      <% else %>
        <%= link_to "通知",   "/login" %>
      <% end %>
    </li>
    <li>
      <% if @current_user %>
        <%= link_to "マイページ",   "/users/#{@current_user.id}" %>
      <% else %>
        <%= link_to "マイページ",   "/login" %>
      <% end %>
    </li>
</footer>
